{% extends './_layouts/base.njk' %}

{% block title %}
  Images and WebGL
{% endblock %}

{% block content %}
  <div>
    <canvas class="webgl"></canvas>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_PATH }}/js/images.js"></script>
{% endblock scripts %}
