{% extends './_layouts/base.njk' %}

{% block title %}
  Three.js – Test Exercise
{% endblock %}

{% block content %}
  <div>
    <canvas class="webgl" data-canvas></canvas>
{#    <div class="content">#}
{#      <h1 class="title">Привет!</h1>#}
{#    </div>#}
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_PATH }}/js/bundle.js"></script>
{% endblock scripts %}
